body{
    background: #f5d9d5;
    font-family: 'Nunito', sans-serif;
}
.blurb h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2rem;
}

.blurb p{
    color: #f49858;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar .navbar-brand{
color: #ea1c2c;

}

#mainNavbar .nav-link{
    color: #fff;
}

#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup span{
    color: #ea1c2c;
}

#headingGroup h1{
    font-weight: 100;
    font-size: 3rem;
}

.navbar.scrolled{
    background: #dec0de;
    transition: background 500ms;
}
@media(max-width:1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 2rem;
    }
}
